body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --kerala-tour-package-mulish-semibold-14: Mulish;
  --font-yomogi: Yomogi;
  --font-metal-mania: "Metal Mania";

  /* font sizes */
  --kerala-tour-package-mulish-semibold-14-size: 14px;
  --gujvw-mulish-semibold-18-size: 18px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-3xl: 22px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-smi: 13px;
  --font-size-xl: 20px;

  /* Colors */
  --tour-package-kltl-1696x784-nero: #fff;
  --gujvw-gray: #929292;
  --kerala-tour-package-kltl-1696x784-1-boulder: #7a7a7a;
  --color-gray-400: #777;
  --kerala-tour-package-kltl-1696x784-1-heavy-metal: #212221;
  --gj2-heavy-metal: #212220;
  --gj2-mine-shaft: #212121;
  --color-gray-600: #002346;
  --color-gray-700: rgba(255, 255, 255, 0.3);
  --color-gray-500: rgba(255, 255, 255, 0);
  --color-gray-200: rgba(255, 255, 255, 0.4);
  --color-gray-300: rgba(0, 0, 0, 0.4);
  --color-gray-100: rgba(255, 255, 255, 0.5);
  --kerala-tour-package-kltl-1696x784-1-mine-shaft: #333;
  --tour-package-kltl-1696x784-st-tropaz: #29499a;
  --color-darkslateblue-100: #033669;
  --color-darkslateblue-200: #01366b;
  --color-darkslateblue-300: rgba(41, 73, 154, 0);
  --gujvw-st-tropaz-50: rgba(41, 73, 154, 0.5);
  --tour-package-kltl-1696x784-mountain-meadow: #1bb55c;
  --color-lavender-100: rgba(207, 221, 255, 0);
  --gujvw-rio-grande-50: rgba(207, 221, 255, 0.5);
  --gj2-silver: #c4c4c4;
  --color-silver-200: rgba(196, 196, 196, 0);
  --color-silver-100: rgba(191, 191, 191, 0.7);
  --gj2-silver-40: rgba(196, 196, 196, 0.4);
  --color-lightsteelblue: rgba(181, 196, 230, 0.5);
  --color-cornflowerblue: #4f70bf;
  --color-dimgray-100: #6b6b6b;
  --gujvw-scorpion: #595959;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #d9d9d9;
  --color-gainsboro-500: rgba(217, 217, 217, 0.63);
  --color-gainsboro-300: rgba(217, 217, 217, 0.8);
  --color-gainsboro-400: rgba(217, 217, 217, 0.7);
  --color-black: #000;
  --color-red: #ff0f00;
  --gujvw-science-blue: #0a66c2;
  --kage-kltl-1696x784-2-alizarin-crimson: #e82f2f;
  --gj2-silver-chalice: #9d9d9d;
  --gujvw-alabaster: #f8f8f8;
  --gj2-wild-sand: #f5f5f5;
  --color-whitesmoke-200: rgba(245, 245, 245, 0.3);
  --color-whitesmoke-100: rgba(245, 245, 245, 0.5);
  --tour-package-kltl-1696x784-blue-chill: #0ea7a5;

  /* Gaps */
  --gap-12xs: 1px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-0: 0px;
  --gap-sm: 14px;
  --gap-5xs: 8px;
  --gap-10xs: 3px;
  --gap-lgi: 19px;
  --gap-lg: 18px;
  --gap-11xs-9: 1.9px;
  --gap-35xl: 54px;
  --gap-20xl: 39px;
  --gap-2xs: 11px;
  --gap-6xs: 7px;
  --gap-9xs: 4px;
  --gap-29xl: 48px;
  --gap-8xl: 27px;
  --gap-10xs-7: 2.7px;
  --gap-smi: 13px;
  --gap-2xl: 21px;
  --gap-2xl-1: 21.1px;
  --gap-40xl: 59px;
  --gap-3xs: 10px;
  --gap-15xl: 34px;
  --gap-base: 16px;
  --gap-mini: 15px;
  --gap-7xs: 6px;
  --gap-99xl: 118px;
  --gap-195xl: 214px;
  --gap-141xl: 160px;
  --gap-242xl: 261px;
  --gap-330xl: 349px;
  --gap-246xl: 265px;
  --gap-107xl: 126px;
  --gap-xl-6: 20.6px;
  --gap-xl-7: 20.7px;
  --gap-21xl: 40px;
  --gap-11xs: 2px;
  --gap-36xl: 55px;
  --gap-13xl: 32px;
  --gap-117xl: 136px;
  --gap-3xl: 22px;
  --gap-17xl: 36px;
  --gap-34xl: 53px;
  --gap-mid: 17px;
  --gap-22xl: 41px;
  --gap-154xl: 173px;
  --gap-98xl: 117px;
  --gap-119xl: 138px;
  --gap-462xl: 481px;
  --gap-77xl: 96px;
  --gap-5xl: 24px;
  --gap-325xl: 344px;

  /* Paddings */
  --padding-27xl: 46px;
  --padding-28xl: 47px;
  --padding-457xl: 476px;
  --padding-5xs: 8px;
  --padding-xl: 20px;
  --padding-182xl: 201px;
  --padding-4xl: 23px;
  --padding-112xl: 131px;
  --padding-21xl: 40px;
  --padding-381xl: 400px;
  --padding-150xl: 169px;
  --padding-7xl: 26px;
  --padding-241xl: 260px;
  --padding-10xs: 3px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-14xl: 33px;
  --padding-6xs: 7px;
  --padding-72xl: 91px;
  --padding-mini: 15px;
  --padding-2xl: 21px;
  --padding-40xl: 59px;
  --padding-9xl: 28px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-15xl: 34px;
  --padding-sm: 14px;
  --padding-50xl: 69px;
  --padding-51xl: 70px;
  --padding-3xl: 22px;
  --padding-55xl: 74px;
  --padding-29xl: 48px;
  --padding-smi: 13px;
  --padding-10xs-1: 2.1px;
  --padding-185xl: 204px;
  --padding-16xl: 35px;
  --padding-9xl-6: 28.6px;
  --padding-121xl-4: 140.4px;
  --padding-0: 0px;
  --padding-131xl-7: 150.7px;
  --padding-89xl-9: 108.9px;
  --padding-129xl-4: 148.4px;
  --padding-lg: 18px;
  --padding-4xs: 9px;
  --padding-62xl: 81px;
  --padding-31xl: 50px;
  --padding-58xl: 77px;
  --padding-6xl: 25px;
  --padding-10xl: 29px;
  --padding-11xl: 30px;
  --padding-20xl: 39px;
  --padding-2xs: 11px;
  --padding-7xs: 6px;
  --padding-8xs: 5px;
  --padding-74xl: 93px;
  --padding-33xl: 52px;
  --padding-13xl: 32px;
  --padding-41xl: 60px;
  --padding-49xl: 68px;
  --padding-51xl-5: 70.5px;
  --padding-106xl: 125px;
  --padding-11xs-3: 1.3px;
  --padding-179xl: 198px;
  --padding-9xl-9: 28.9px;
  --padding-215xl: 234px;
  --padding-135xl: 154px;
  --padding-208xl: 227px;
  --padding-142xl-1: 161.1px;
  --padding-245xl: 264px;
  --padding-209xl: 228px;
  --padding-140xl-9: 159.9px;
  --padding-115xl-3: 134.3px;
  --padding-122xl-7: 141.7px;
  --padding-202xl: 221px;
  --padding-148xl-3: 167.3px;
  --padding-lgi: 19px;
  --padding-53xl: 72px;
  --padding-8xl: 27px;
  --padding-45xl: 64px;
  --padding-255xl: 274px;
  --padding-56xl: 75px;
  --padding-97xl: 116px;
  --padding-159xl: 178px;
  --padding-42xl: 61px;
  --padding-227xl: 246px;
  --padding-104xl: 123px;
  --padding-34xl: 53px;
  --padding-12xl: 31px;
  --padding-4241xl: 4260px;
  --padding-30xl: 49px;
  --padding-25xl: 44px;
  --padding-26xl: 45px;
  --padding-444xl: 463px;
  --padding-3xs: 10px;
  --padding-smi-9: 12.9px;
  --padding-458xl: 477px;
  --padding-219xl: 238px;
  --padding-180xl-2: 199.2px;
  --padding-351xl: 370px;
  --padding-166xl: 185px;
  --padding-60xl: 79px;
  --padding-143xl: 162px;
  --padding-5xl: 24px;
  --padding-121xl: 140px;
  --padding-311xl: 330px;
  --padding-146xl: 165px;
  --padding-184xl: 203px;
  --padding-82xl: 101px;
  --padding-253xl: 272px;
  --padding-117xl: 136px;
  --padding-285xl: 304px;
  --padding-133xl: 152px;
  --padding-378xl: 397px;
  --padding-240xl: 259px;
  --padding-110xl: 129px;
  --padding-278xl: 297px;
  --padding-129xl: 148px;
  --padding-291xl: 310px;
  --padding-136xl: 155px;
  --padding-477xl: 496px;
  --padding-229xl: 248px;
  --padding-92xl: 111px;
  --padding-12xs-9: 0.9px;
  --padding-5xl-4: 24.4px;
  --padding-7xl-6: 26.6px;
  --padding-xs-1: 11.1px;
  --padding-xs-9: 11.9px;
  --padding-8xs-9: 4.9px;
  --padding-7xs-1: 5.1px;
  --padding-4xs-1: 8.1px;
  --padding-smi-6: 12.6px;
  --padding-5xs-6: 7.6px;
  --padding-mini-9: 14.9px;
  --padding-73xl: 92px;
  --padding-23xl: 42px;
  --padding-19xl: 38px;
  --padding-33xl-6: 52.6px;
  --padding-88xl-5: 107.5px;
  --padding-98xl-2: 117.2px;
  --padding-99xl-5: 118.5px;
  --padding-383xl-5: 402.5px;
  --padding-355xl: 374px;
  --padding-131xl: 150px;
  --padding-90xl: 109px;
  --padding-57xl: 76px;
  --padding-424xl: 443px;
  --padding-103xl: 122px;
  --padding-168xl: 187px;
  --padding-114xl: 133px;
  --padding-64xl: 83px;
  --padding-71xl: 90px;
  --padding-mid: 17px;
  --padding-43xl: 62px;
  --padding-22xl: 41px;
  --padding-18xl: 37px;
  --padding-439xl: 458px;
  --padding-107xl: 126px;
  --padding-175xl: 194px;
  --padding-52xl: 71px;
  --padding-17xl: 36px;
  --padding-86xl: 105px;
  --padding-386xl: 405px;
  --padding-183xl: 202px;
  --padding-193xl: 212px;
  --padding-87xl: 106px;
  --padding-380xl: 399px;
  --padding-180xl: 199px;
  --padding-36xl: 55px;
  --padding-59xl: 78px;
  --padding-910xl: 929px;
  --padding-236xl: 255px;
  --padding-89xl: 108px;
  --padding-147xl: 166px;
  --padding-63xl: 82px;
  --padding-32xl: 51px;
  --padding-512xl: 531px;
  --padding-sm-3: 13.3px;
  --padding-55xl-1: 74.1px;
  --padding-sm-2: 13.2px;
  --padding-54xl: 73px;
  --padding-142xl: 161px;
  --padding-266xl: 285px;
  --padding-44xl: 63px;
  --padding-368xl: 387px;
  --padding-174xl: 193px;
  --padding-284xl-4: 303.4px;
  --padding-161xl: 180px;
  --padding-292xl: 311px;
  --padding-361xl: 380px;
  --padding-171xl: 190px;
  --padding-407xl-1: 426.1px;
  --padding-194xl: 213px;
  --padding-243xl: 262px;
  --padding-284xl: 303px;
  --padding-132xl: 151px;
  --padding-370xl: 389px;
  --padding-656xl: 675px;
  --padding-318xl: 337px;
  --padding-162xl: 181px;
  --padding-591xl: 610px;
  --padding-238xl: 257px;
  --padding-148xl: 167px;
  --padding-48xl: 67px;
  --padding-158xl: 177px;
  --padding-328xl: 347px;
  --padding-77xl: 96px;
  --padding-382xl: 401px;
  --padding-151xl: 170px;
  --padding-242xl: 261px;
  --padding-260xl: 279px;
  --padding-354xl: 373px;
  --padding-167xl: 186px;
  --padding-248xl: 267px;
  --padding-200xl: 219px;
  --padding-100xl: 119px;
  --padding-385xl: 404px;
  --padding-137xl: 156px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-8xs: 5px;
  --br-10xs: 3px;
  --br-5xs: 8px;
  --br-9xs: 4px;
}
