.trippingcom {
  position: absolute;
  top: 31px;
  left: 95px;
  font-size: var(--text-size);
  font-family: var(--text);
}
.about,
.blog,
.contact,
.home {
  position: absolute;
  top: 36px;
  display: inline-block;
}
.home {
  left: 801px;
  width: 89px;
  cursor: pointer;
}
.about,
.blog,
.contact {
  left: 921px;
  width: 60px;
}
.about,
.contact {
  left: 1012px;
  width: 89px;
}
.contact {
  left: 1132px;
  width: 95px;
  height: 30px;
}
.uttarakhand {
  position: absolute;
  top: 103px;
  left: 530px;
  font-size: 75px;
  color: var(--color-gainsboro);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.backplace-icon {
  position: absolute;
  height: 3.33%;

  top: 3.03%;
  right: 94.31%;
  bottom: 93.64%;
  left: 3.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.ind {
  position: absolute;
  top: 40px;
  left: 1258px;
}
.icon-keyboard-arrow-down,
.icon-person {
  position: absolute;
  height: 0.92%;
  width: 1.11%;
  top: 4.98%;
  right: 8.13%;
  bottom: 94.09%;
  left: 90.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon-person {
  height: 3.91%;
  width: 2.78%;
  top: 3.03%;
  right: 3.4%;
  bottom: 93.07%;
  left: 93.82%;
}
.desktop-16-child {
  top: 376.22px;
  left: 528px;
  background-color: var(--color-gainsboro);
  width: 401px;
  height: 511px;
  transform: rotate(-0.17deg);
  transform-origin: 0 0;
}
.desktop-16-child,
.desktop-16-item,
.group-child,
.group-item {
  position: absolute;
  border-radius: var(--br-11xl);
}
.desktop-16-item {
  top: 372px;
  left: 528px;
  width: 401px;
  height: 224px;
  object-fit: cover;
}
.group-child,
.group-item {
  top: 0;
  left: 5.54px;
  width: 395.1px;
}
.group-child {
  background-color: var(--color-gainsboro);
  height: 511px;
}
.group-item {
  height: 215.56px;
  object-fit: cover;
}
.haridwar,
.haridwar-lies-along {
  position: absolute;
  top: 243px;
  left: 0;
  display: inline-block;
  width: 396.28px;
  height: 48.15px;
}
.haridwar-lies-along {
  top: 304px;
  left: 11px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-inter);
  width: 393px;
  height: 234px;
}
.rectangle-parent {
  position: absolute;
  top: 368px;
  left: 982px;
  width: 404px;
  height: 538px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.group-child1,
.group-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro);
  width: 401px;
  height: 490.21px;
}
.group-child1,
.rectangle-div {
  height: 193.68px;
}
.group-child1 {
  height: 511px;
}
.rectangle-group,
.rectangle-icon {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 401px;
  height: 511px;
}
.rectangle-icon {
  top: 0;
  left: 8px;
  border-radius: var(--br-11xl);
  height: 224px;
  object-fit: cover;
}
.group-child3 {
  position: absolute;
  top: 235px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 409px;
  height: 30px;
}
.it-is-situated,
.rishikesh {
  position: absolute;
  top: 247px;
  left: 11px;
  font-weight: 800;
  display: inline-block;
  width: 392px;
  height: 71px;
}
.it-is-situated {
  top: 295px;
  left: 15px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-inter);
  width: 387px;
  height: 171px;
}
.group-parent {
  position: absolute;
  top: 364px;
  left: 52px;
  width: 409px;
  height: 519px;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
}
.fascinating-history-and {
  top: 672px;
  left: 532px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 400px;
  height: 240px;
}
.dehradun,
.fascinating-history-and,
.tourist-attractions {
  position: absolute;
  text-align: center;
}
.dehradun {
  top: 614px;
  left: 661px;
  font-size: var(--font-size-9xl);
  font-weight: 800;
  color: var(--color-black);
}
.tourist-attractions {
  top: 257px;
  left: 0;
  font-size: 40px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-gainsboro);
  width: 684px;
  height: 42px;
}
.vector-icon {
  position: absolute;
  height: 100%;
  width: 26.06%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 73.94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: 20px;
  background-color: #d52323;
  width: 94px;
  height: 35px;
}
.more {
  position: absolute;
  top: 3px;
  left: 0;
  display: inline-block;
  width: 100px;
  height: 30px;
  color:#161010;
}
.vector-parent {
  position: absolute;
  height: 3.42%;
  width: 9.86%;
  top: 92.58%;
  right: 4.93%;
  bottom: 4%;
  left: 85.21%;
  cursor: pointer;
  text-align: right;
  color: #161010;
}
.desktop-16 {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/desktop--16@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-red);
  font-family: var(--font-roboto);
}
a{
  text-decoration: none;
  color: var(--color-red);
}